#image-card{
    width: 20%;
    margin: 10px;
    padding: 1%;
    height: 200px;
}

#image-list{
    display: flex;
    flex-flow: wrap;
}
#overlap-container{
    position: relative;
    height: 250px;
    /* width: 200px; */
    width: 100%;
    flex-direction: row;
}
#overlap-container img{
    height: 200px;
    width: 200px;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    filter: grayscale(100%);
}
#overlap-container div{
    height: 200px;
    width: 200px;
    z-index: 2;
    opacity: 20%;
    top: 35%;
    left: 0;
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    
}
#overlap-container:hover div{
    display: none;
}

#image-container{
    background-color:lightblue;
    margin: 0 auto;
    width: 80%;
    align-content: center;
    text-align: center;
}

@media only screen and (max-width: 1250px){
    #image-card{
        width: 25%;

    }
}

@media only screen and (max-width: 900px){
    #image-card{
        width: 40%;
    }
}

@media only screen and (max-width: 650px){
    #image-card{
        width: 60%;
    }
}


